---
layout: page
title: "关于"
description: "您好，这里是南京谷歌开发者社区。"
header-img: "img/about-bg.jpg"
---

<div class="zh">
    <blockquote>
        欢迎来到南京谷歌开发者社区(Nanajing GDG) <br>
        开放 · 分享 · 创新
    </blockquote>

    <p>
    南京谷歌开发者社区（NanJing GDG），是一个非盈利的、自由独立的纯IT技术社区，由一群热爱分享的的开发者自发组建，线上线下交流和分享Google技术（涵盖包括Android、Chrome、GCE 等），开放技术、开源技术是社区平时最主要的活动，社区的活动经费由谷歌公司赞助。
    </p>

    <p>
    谷歌开发者社区（GDG）是 Google 公司支持并赞助的全球性非盈利性质的技术交流组织，专注于打造互联网行业从业者交流创新的平台，通过开发者自发组成社区，围绕 Google 公司在互联网领域的领先技术和资源以及其他开源开放技术平台，组织形式多样的学习、分享、交流活动，推动本地开发者创新创业。
    </p>

    <p>
    社区活动
    </p>
    <p>
    <ul>
    <li>Android/Web Tech Talking</li>
    <li>Android Fundenmatal</li>
    <li>DevFest开发者的节日</li>
    <li>Google IO Extend直播之夜</li>
    </ul>
    </p>
    
    <hr>

    <br>
    <br>
    <p>联系我们</p>
    <p>如果您想和我们  交流经验  或是  加入我们，  请联系我们！</p>
    <ul>
        <li><a href="mailto:nanjinggdg@gmail.com">联系邮箱 </a></li>
        <li><a href="https://groups.google.com/forum/#!forum/nanjing-gtug">Google Group </a></li>
        <li><a href="mailto:nanjing-gtug+subscribe@googlegroups.com">发送空邮件订阅 </a></li>
        <li><a href="https://plus.google.com/u/0/communities/117797655100522863939">G+社区 </a></li>
        <li><a href="http://weibo.com/u/2627645705">微博 </a></li>
        <li><a target="_blank"><img border="0" src="http://pub.idqqimg.com/wpa/images/group.png" >QQ群: 230448398</a></li>
        <li><a >微信公众号: 南京GDG </a></li>
    </ul>
        <img src="{{site.baseUrl}}/img/qrcode_for_gh_129cc595bd0f_430.jpg"> </img>
</div>

{% if site.duoshuo_username %}
<!-- 多说评论框 start -->
<div class="comment">
    <div class="ds-thread"
    {% if site.duoshuo_username == "huxblog" %}
        data-thread-id="1187623191091085319"
    {% else %}
        data-thread-key="{{site.duoshuo_username}}/about"
    {% endif %}

    data-title="{{page.title}}"
    data-url="{{site.url}}/about/"></div>
</div>
<!-- 多说评论框 end -->

<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    // dynamic User hacking by Hux
    var _user = '{{site.duoshuo_username}}';

    // duoshuo comment query.
    var duoshuoQuery = {short_name: _user };
    (function() {
        var ds = document.createElement('script');
        ds.type = 'text/javascript';ds.async = true;
        ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
        ds.charset = 'UTF-8';
        (document.getElementsByTagName('head')[0]
         || document.getElementsByTagName('body')[0]).appendChild(ds);
    })();
</script>
<!-- 多说公共JS代码 end -->
{% endif %}


{% if site.disqus_username %}
<!-- disqus 评论框 start -->
<div class="comment">
    <div id="disqus_thread" class="disqus-thread">

    </div>
</div>
<!-- disqus 评论框 end -->

<!-- disqus 公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = "{{site.disqus_username}}";
    var disqus_identifier = "{{site.disqus_username}}/{{page.url}}";
    var disqus_url = "{{site.url}}{{page.url}}";

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<!-- disqus 公共JS代码 end -->
{% endif %}
